.visualizar {
    background-color: #07A37E;
    border: 1px solid #07A37E;
    color: white;
    padding: 7px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    max-width: 110px;
    width: 50%;
}

.visualizar:hover{
    scale: 1.05;
    background-color: #119173;
}

#cards {
    margin-top: 10%;
}

.card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-title {
    font-weight: 700;
}

.card-img-top {
    width: 80%;
    margin-top: 10px;
}

.meio{
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.foto{
    padding: 2px;
    border-radius: 10%;
    border: 5px, solid, rgb(100, 100, 100);
    width: 100%;
    margin-top: 20px;
    max-width: 250px;
    max-height: 170px;
    object-fit: cover;
    background-color: #E8E8E8;
}

.extended{
    width: 100%;
}

.max{
    width: 85%;
    display: flex;
    justify-content: start;
}

.redod{
    border-radius: 5px;
    border: none;
    background-color: #E8E8E8;
    height: 40px;
    padding-left: 20px;
}

h6{
    font-size: 1.1rem;
    font-weight: bold;
}

.linha{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
}

.but{
    border-radius: 15%;
    border: none;
    width: 10%;
    font-size: 1.75rem;
    font-weight: bold;
    background-color: #949494;
    color: #ffffff;
}

.but:hover{
    scale: 1.05;
    background-color: #868686;
}

.around{
    display: flex;
    justify-content: space-around;
}

.cancelar {
    background-color: #FFFF;
    border: 1px solid #07A37E;
    color: #07A37E;
    padding: 7px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    max-width: 110px;
    width: 50%;
}

.cancelar:hover{
    scale: 1.05;
    background-color: #f1f1f1;
}


    