main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    /* position: relative; */
}

#bread-crumbs {
    position: absolute;
    top: 0%;
    position: fixed;
    padding: 0;
    margin: 0;
}

.accordion-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
}

.visualizar {
    background-color: #07A37E;
    border: 1px solid #07A37E;
    color: white;
    padding: 7px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.visualizar:hover{
    scale: 1.05;
    background-color: #119173;
    color: white;
}

#greetings {
    display: flex;
    align-items: center;
}

#greetings > h3 {
    color: var(--verde-fonte);
}

.img-greetings {
    max-width: 35px;
    margin-left: 10px;
    margin-bottom: 10px;
}