.visualizar {
    background-color: #FFFF;
    border: 1px solid #07A37E;
    color: #07A37E;
    padding: 7px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.visualizar:hover {
    background-color: #078669;
    border: 1px solid #07A37E;
    color: white;
    padding: 7px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.btn {
    width: 100px;
}




.card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-title {
    font-weight: 700;
}

.card-img-top {
    width: 210px;
    height: 210px;
    object-fit: cover;
    margin-top: 10px;
}


.visualizar2 {
    background-color: #07A37E;
    border: 1px solid #07A37E;
    color: white;
    padding: 7px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 240px;
    width: 100%;
    height: 40px;
}

.visualizar2 > h5 {
    color: white;
}

.visualizar2:hover{
    scale: 1.05;
    background-color: #119173;
}

.h5{
    color: white;
}

.organ{
    padding-top: 15px;
    font-size: 1.3rem;
}

#action-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}
