main {
    background-color: var(--claro);
    min-height: 90vh;
    /* width: 100vw; */
    display: flex;
    justify-content: start;
    margin-top: 50px;
    flex-direction: column;
}

/* h5 {
    font-weight: 400;
    color: var(--verde-fonte);
    margin: 0%;
} */

.arrow {
    color: var(--verde-fonte);

}

.dark{
    color: white;
    background-color: var(--escuro);
}

.luz{
    background-color: #E8E8E8;
}

.luz2{
    background-color: #DADADA;
    color:black
}

.camada2{
    color: white;
    background-color: var(--layer2);
}

.camada3{
    color: white;
    background-color: var(--layer3);
}

.card-dark {
    background-color: #333; /* Cor de fundo escura */
    color: #fff; /* Cor do texto clara */
}

.card-light {
    background-color: #fff; /* Cor de fundo clara */
    color: #000; /* Cor do texto escura */
}
