main {
    background-color: var(--claro);
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: start;
    margin-top: 10vh;
    flex-direction: column;
}

/* h5 {
    font-weight: 400;
    color: var(--verde-fonte);
    margin: 0%;
} */

.arrow {
    color: var(--verde-fonte);

}