main {
    background-color: var(--claro);
    min-height: 90vh;
    /* width: 100vw; */
    display: flex;
    justify-content: start;
    margin-top: 50px;
    flex-direction: column;
}

/* h5 {
    font-weight: 400;
    color: var(--verde-fonte);
    margin: 0%;
} */

.arrow {
    color: var(--verde-fonte);

}