* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    display: flex;
    flex-direction: column;

}

:root {
    --verde-fonte: #008F6E;
    --verdinho: #07A37E;
    --claro: #ffff;
    --escuro: #252525;
    --layer2: #525252;
    --layer3: #707070;
}